{% load static %}

<footer class="footer bg-dark">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 text-center">
                <a href="#"><img src="{% get_media_prefix %}img/logo-light.png" height="50" alt=""></a>
                <p class="para-desc mx-auto mt-5">{{ about_preview }}</p>
                <ul class="list-unstyled mb-0 mt-4 social-icon">
                    <li class="list-inline-item"><a href="https://twitter.com/sembilada" target="_blank"><i class="mdi mdi-twitter"></i></a></li>
                    <li class="list-inline-item"><a href="https://www.instagram.com/semanurbilada_/" target="_blank"><i class="mdi mdi-instagram"></i></a></li>
                    <li class="list-inline-item"><a href="https://github.com/semanurbilada" target="_blank"><i class="mdi mdi-github"></i></a></li>
                    <li class="list-inline-item"><a href="https://www.linkedin.com/in/semanur-bilada/" target="_blank"><i class="mdi mdi-linkedin"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>

<footer class="footer footer-bar bg-dark">
    <div class="container text-foot text-center">
        <p class="mb-0">© <script>document.write(new Date().getFullYear())</script> Semanur Bilada. Design with <i class="mdi mdi-heart text-danger"></i> by <a href="https://Bootstraplily.com/" target="_blank" class="text-reset">Bootstraplily</a>.</p>
        <p class="mb-0"><a href="https://github.com/semanurbilada/portfolio_plus" target="_blank" class="text-reset">Click for the Source Code!</a></p>
    </div>
</footer>