{% load static %}
{% load bootstrap5 %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ 'SB | Portfolio: '}} {{ title }}</title>

    <meta name="description" content="Semanur Bilada Portfolio - Django CV Page">
    <meta name="keywords" content="{{ site_keywords }}">
    <meta content="Bootstraplily customized by Semanur Bilada" name="author">
    
    <!-- favicon -->
    <link rel="shortcut icon" href="{{ site_favicon.url }}">
    <!-- Bootstrap -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
    <!-- Lightbox -->
    <link href="{% static 'css/tobii.min.css' %}" rel="stylesheet" type="text/css">
    <!-- Icon -->
    <link href="{% static 'css/materialdesignicons.min.css' %}" rel="stylesheet" type="text/css">
    <!-- Custom Css -->
    <link href="{% static 'css/style.min.css' %}" rel="stylesheet" type="text/css" id="theme-opt">
    <link href="{% static 'css/colors/default.css' %}" rel="stylesheet" id="color-opt">

    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>