{% load static %}

<nav id="navbar" class="navbar navbar-expand-lg fixed-top navbar-custom navbar-light sticky">
    <div class="container">
        <a class="navbar-brand" href="#" onclick="topFunction()">
            <img src="{{ header_logo.url }}" height="50" class="l-dark" alt="">
            <img src="{{ header_logo_light.url }}" height="50" class="l-light" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span data-feather="menu" class="fea icon-md"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul id="navbar-navlist" class="navbar-nav mx-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#home">{{ nav_link_1 }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#about">{{ nav_link_2 }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#photos">{{ nav_link_3 }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#resume">{{ nav_link_4 }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#projects">{{ nav_link_5 }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#contact">{{ nav_link_6 }}</a>
                </li>
            </ul>

            <ul class="list-unstyled mb-0 mt-2 mt-sm-0 social-icon light-social-icon">
                <li class="list-inline-item"><a href="https://www.linkedin.com/in/semanur-bilada/" target="_blank"><i class="mdi mdi-linkedin"></i></a></li>
                <li class="list-inline-item"><a href="https://github.com/semanurbilada/portfolio_plus" target="_blank"><i class="mdi mdi-github"></i></a></li>
            </ul>
        </div> 
    </div>
</nav>