{% load static %}

    <!-- javascript -->
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <!-- Gumshoe -->
    <script src="{% static 'js/gumshoe.js' %}"></script>
    <!-- Lightbox -->
    <script src="{% static 'js/tobii.min.js' %}"></script>
    <script src="{% static 'js/shuffle.min.js' %}"></script>
    <!-- Feather icon -->
    <script src="{% static 'js/feather.min.js' %}"></script>
    <!-- Typed -->
    <script src="{% static 'js/typed.js' %}"></script>
    <!-- Main Js -->
    <script src="{% static 'js/plugins.init.js' %}"></script>
    <script src="{% static 'js/app.js' %}"></script>