{% load static %}

<!DOCTYPE html>
<html lang="en">
    {% include 'includes/head.html' with title="Home" %}

    <body>
        <!-- Loader -->
        {% include 'includes/loader.html' %}
        
        <!-- Navbar -->
        {% include 'includes/navbar.html' %}

        <!-- HOME -->
        <section class="bg-home" style="background-image:url('{{ home_bg.url }}')" id="home">
            <div class="bg-overlay"></div>
            <div class="container">
                <div class="row mt-5 mt-sm-0 justify-content-center">
                    <div class="col-lg-12 text-center">
                        <div class="title-heading">
                            <img src="{{ home_profile.url }}" class="img-fluid rounded-circle" alt="">
                            <h1 class="heading text-primary mt-3">{{ site_title }}</h1>
                            <h6 class="text-light">Student of Information Systems Engineering</h6>
                            <h5 class="sub-title text-light">I'm interested in <span class="typewrite text-white" data-period="2000" data-type='[ "R&D Research", "Web Technologies", "Robotics"]'!></span>!</h5>
                            <div class="mt-4">
                                <a href="javascript:void(0)" class="btn btn-primary rounded">Download CV <i data-feather="download" class="fea icon-sm"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="home-shape">
                        <img src="{{ home_shape.url }}" alt="" class="img-fluid mx-auto d-block">
                    </div>
                </div>
            </div>
            <a href="#about" data-scroll-nav="1" class="mouse-icon mouse-icon-white rounded-pill bg-transparent mouse-down">
                <span class="wheel position-relative d-block mover"></span>
            </a>
        </section>
        <!-- HOME END-->
        
        <!-- About Start -->
        <section class="section pb-3" id="about">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-5 col-md-5">
                        <div class="about-hero">
                            <img src="{{ about.url }}" class="img-fluid mx-auto d-block about-tween position-relative rounded-3" alt="">
                        </div>
                    </div>

                    <div class="col-lg-7 col-md-7 mt-4 pt-2 mt-sm-0 pt-sm-0">
                        <div class="section-title mb-0 ms-lg-5 ms-md-3">
                            <h4 class="title text-primary mb-3">{{ site_title }}</h4>
                            <h6 class="designation mb-3">I'm an enthusiast of <span class="text-primary">Robotics and WEB</span></h6>
                            <p class="text-muted">Information Systems Engineering student as 3rd year. Also; Head of the Piri Reis University Robot Club, overseeing project management for school projects. Experienced and passionate about WEB Applications, Robotics, and Aerospace. Actively involved in projects with these domains to improve my skills with teamwork.</p>
                            <p class="text-muted">Research and Development is in my interest area; so, my goal is to learn and develop the professional aspects of projects and be creative for my personal improvement!</p>
                            <div class="mt-4">
                                <a href="#projects" class="btn btn-primary mouse-down">View Portfolio</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- About end -->
            
        <!-- Services Start -->
        <section class="section bg-light" id="photos">
            <div class="container">
                <div class="row justify-content-center align-items-center">
                    <div class="col-12 text-center">
                        <div class="section-title">
                            <div class="position-relative">
                                <h4 class="title text-uppercase mb-4">Photo Gallery</h4>
                                <div>
                                    <div class="title-box"></div>
                                    <div class="title-line"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row justify-content-center align-items-center">       
                    <div class="col-md-4 col-12 mt-4 pt-2">
                        <div class="service-wrapper rounded position-relative text-center border border-footer">
                            <div class="content object-fit-cover">
                                <img src="{{ photo1.url }}" class="w-50 h-auto"></img>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 col-12 mt-4 pt-2">
                        <div class="service-wrapper rounded position-relative text-center border border-footer">
                            <div class="content my-4 object-fit-cover">
                                <img src="{{ photo2.url }}" class="w-100 h-auto"></img>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-md-4 col-12 mt-4 pt-2">
                        <div class="service-wrapper rounded position-relative text-center border border-footer">
                            <div class="content my-4 object-fit-cover">
                                <img src="{{ photo3.url }}" class="w-100 h-auto"></img>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-md-4 col-12 mt-4 pt-2">
                        <div class="service-wrapper rounded position-relative text-center border border-footer">
                            <div class="content my-4 object-fit-cover">
                                <img src="{{ photo4.url }}" class="w-100 h-auto"></img>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 col-12 mt-4 pt-2">
                        <div class="service-wrapper rounded position-relative text-center border border-footer">
                            <div class="content object-fit-cover">
                                <img src="{{ photo5.url }}" class="w-75 h-auto"></img>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 col-12 mt-4 pt-2">
                        <div class="service-wrapper rounded position-relative text-center border border-footer">
                            <div class="content my-4 object-fit-cover">
                                <img src="{{ photo6.url }}" class="w-100 h-auto"></img>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 col-12 mt-4 pt-2">
                        <div class="service-wrapper rounded position-relative text-center border border-footer">
                            <div class="content my-4 object-fit-cover">
                                <img src="{{ photo7.url }}" class="w-100 h-auto"></img>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 col-12 mt-4 pt-2">
                        <div class="service-wrapper rounded position-relative text-center border border-footer">
                            <div class="content my-4 object-fit-cover">
                                <img src="{{ photo8.url }}" class="w-100 h-auto"></img>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Services End -->

        <!-- Resume Start -->
        <section class="section" id="resume">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 text-center">
                        <div class="section-title">
                            <div class="position-relative">
                                <h4 class="title text-uppercase mb-4">Work Experience</h4>
                                <div>
                                    <div class="title-box"></div>
                                    <div class="title-line"></div>
                                </div>
                            </div>
                            <p class="text-muted mx-auto para-desc mt-5 mb-0">{{ about_preview }}</p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <div class="main-icon rounded-pill text-center mt-4 pt-2">
                            <i data-feather="star" class="fea icon-md-sm"></i>
                        </div>
                        <div class="timeline-page pt-2 position-relative">
                            {% for experience in experiences %}
                                <div class="timeline-item mt-4">
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6 col-sm-6 order-sm-1 order-2">
                                            <div class="event event-description-left rounded p-4 border float-left text-end">
                                                <h5 class="title mb-0 text-capitalize">{{ experience.job_title }}</h5>
                                                <small class="company">{{ experience.company_name }}</small>
                                                <p class="timeline-subtitle mt-3 mb-0 text-muted">{{ experience.job_description }}</p>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 order-sm-2 order-1">
                                            <div 
                                                class="duration duration-right rounded border p-2 ps-4 pe-4 position-relative shadow text-start"
                                            >
                                                {{ experience.start_date }} - {{ experience.end_date }} ·  {{ experience.job_period }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Skill End -->

        <!-- Projects End -->
        <section class="section bg-light" id="projects">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 text-center">
                        <div class="section-title">
                            <div class="position-relative">
                                <h4 class="title text-uppercase mb-4">My Portfolio</h4>
                                <div>
                                    <div class="title-box"></div>
                                    <div class="title-line"></div>
                                </div>
                            </div>
                            <p class="text-muted mx-auto para-desc mt-5 mb-0">{{ about_preview }}</p>
                        </div>
                    </div>
                </div>
            </div>    
            
            <div class="container">
                <div class="row mt-4 justify-content-center align-items-center">
                    <div class="col-12 filters-group-wrap">
                        <div class="filters-group">
                            <ul class="portfolioFilter list-inline mb-0 filter-options text-center">
                                <li class="list-inline-item categories-name border text-dark px-3 rounded active" data-group="all">All</li>
                                <li class="list-inline-item categories-name border text-dark px-3 rounded" data-group="education">Education</li>
                                <li class="list-inline-item categories-name border text-dark px-3 rounded" data-group="research">R&D Researches</li>
                                <li class="list-inline-item categories-name border text-dark px-3 rounded" data-group="licences">Licences & Certifications</li>
                                <li class="list-inline-item categories-name border text-dark px-3 rounded" data-group="github">GitHub</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- Gallary -->
                <div id="grid" class="row justify-content-center align-items-center">
                    <div class="col-lg-4 col-md-6 mt-4 pt-2 picture-item" data-groups='["github"]'>
                        <div class="item-box portfolio-box rounded shadow bg-white overflow-hidden p-4">
                            <div class="gallary-title py-2 text-center">
                                <h5><a href="https://github.com/semanurbilada" target="_blank" class="title text-dark">Semanur Bilada | GitHub</a></h5>
                                <span class="title text-dark"><a href="https://github.com/semanurbilada" target="_blank">Click to see GitHub account and projects!</a></span>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 mt-4 pt-2 picture-item" data-groups='["github"]'>
                        <div class="item-box portfolio-box rounded shadow bg-white overflow-hidden p-4">
                            <div class="gallary-title py-2 text-center">
                                <h5><a href="https://acargeridonusum.com.tr" target="_blank" class="title text-dark">Website: ACAR Geri Dönüşüm Ltd. Şti.</a></h5>
                                <span class="title text-dark"><a href="https://github.com/semanurbilada/acar-website" target="_blank">Click to see source code of this Freelance Project!</a></span>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 mt-4 pt-2 picture-item" data-groups='["licences"]'>
                        <div class="item-box portfolio-box rounded shadow bg-white overflow-hidden p-4">
                            <div class="gallary-title py-2 text-center">
                                <h5><a href="https://www.teknofest.org/en/competitions/competition_report_detail/3164" target="_blank" class="title text-dark">TEKNOFEST 2023</a></h5>
                                <span class="title text-dark">Agricultural Unmanned Ground Vehicle Competition Finalist - Team Leader</span>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 mt-4 pt-2 picture-item" data-groups='["github"]'>
                        <div class="item-box portfolio-box rounded shadow bg-white overflow-hidden p-4">
                            <div class="gallary-title py-2 text-center">
                                <h5><a href="https://github.com/PRU-Robotic" target="_blank" class="title text-dark">PRU Robotics | GitHub</a></h5>
                                <span class="title text-dark"><a href="https://github.com/PRU-Robotic" target="_blank">Click to see GitHub account and projects!</a></span>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 mt-4 pt-2 picture-item" data-groups='["github"]'>
                        <div class="item-box portfolio-box rounded shadow bg-white overflow-hidden p-4">
                            <div class="gallary-title py-2 text-center">
                                <h5><a href="https://github.com/semanurbilada/chatbot" target="_blank" class="title text-dark">ChatBot: Internship Project - Natural Language Processing</a></h5>
                                <span class="title text-dark"><a href="https://github.com/semanurbilada/chatbot" target="_blank">Click to see source code of this Python & NLP project!</a></span>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 mt-4 pt-2 picture-item" data-groups='["github"]'>
                        <div class="item-box portfolio-box rounded shadow bg-white overflow-hidden p-4">
                            <div class="gallary-title py-2 text-center">
                                <h5><a href="https://github.com/semanurbilada/term-project-website" target="_blank" class="title text-dark">Website: Term Project GUI & Web Programming lectures</a></h5>
                                <span class="title text-dark"><a href="https://github.com/semanurbilada/term-project-website" target="_blank">Click to see source code of this term project!</a></span>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 mt-4 pt-2 picture-item" data-groups='["research"]'>
                        <div class="item-box portfolio-box rounded shadow bg-white overflow-hidden p-4">
                            <div class="gallary-title py-2 text-center">
                                <h5><a href="https://www.linkedin.com/in/semanur-bilada/details/projects/" target="_blank" class="title text-dark">Software of Autonomous Agricultural Unmanned Ground Vehicle</a></h5>
                                <span class="title text-dark"><a href="https://www.linkedin.com/in/semanur-bilada/details/projects/" target="_blank">TÜBİTAK BAP (Scientific Research Project)</a></span>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 mt-4 pt-2 picture-item" data-groups='["github"]'>
                        <div class="item-box portfolio-box rounded shadow bg-white overflow-hidden p-4">
                            <div class="gallary-title py-2 text-center">
                                <h5><a href="https://github.com/semanurbilada/try-section" target="_blank" class="title text-dark">Try Section</a></h5>
                                <span class="title text-dark"><a href="https://github.com/semanurbilada/try-section" target="_blank">Click to see this still work-in-progress repository!</a></span>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 mt-4 pt-2 picture-item" data-groups='["github"]'>
                        <div class="item-box portfolio-box rounded shadow bg-white overflow-hidden p-4">
                            <div class="gallary-title py-2 text-center">
                                <h5><a href="https://github.com/semanurbilada/kemence-website" target="_blank" class="title text-dark">Website: Kemençe Hurda Ltd. Şti.</a></h5>
                                <span class="title text-dark"><a href="https://github.com/semanurbilada/kemence-website" target="_blank">Click to see source code of this Freelance Project!</a></span>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-lg-4 col-md-6 mt-4 pt-2 picture-item" data-groups='["licences"]'>
                        <div class="item-box portfolio-box rounded shadow bg-white overflow-hidden p-4">
                            <div class="gallary-title py-2 text-center">
                                <h5><a href="https://www.linkedin.com/in/semanur-bilada/details/certifications/" target="_blank" class="title text-dark">Civil Aviation General Directorate (SHGM)</a></h5>
                                <span class="title text-dark">UAV - 1 - Sport / Amateur Pilot License</span>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 mt-4 pt-2 picture-item" data-groups='["github"]'>
                        <div class="item-box portfolio-box rounded shadow bg-white overflow-hidden p-4">
                            <div class="gallary-title py-2 text-center">
                                <h5><a href="https://github.com/semanurbilada/lab-examples" target="_blank" class="title text-dark">Lectures: Lab Examples & Homeworks</a></h5>
                                <span class="title text-dark"><a href="https://github.com/semanurbilada/lab-examples" target="_blank">Click to see source code of this lab studies project!</a></span>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 mt-4 pt-2 picture-item" data-groups='["research"]'>
                        <div class="item-box portfolio-box rounded shadow bg-white overflow-hidden p-4">
                            <div class="gallary-title py-2 text-center">
                                <h5><a href="https://www.linkedin.com/in/semanur-bilada/details/projects/" target="_blank" class="title text-dark">Autonomous, Navigation and Control for Autonomous Underwater Vehicles</a></h5>
                                <span class="title text-dark"><a href="https://www.linkedin.com/in/semanur-bilada/details/projects/" target="_blank">TÜBİTAK BAP (Scientific Research Project)</a></span>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 mt-4 pt-2 picture-item" data-groups='["github"]'>
                        <div class="item-box portfolio-box rounded shadow bg-white overflow-hidden p-4">
                            <div class="gallary-title py-2 text-center">
                                <h5><a href="https://github.com/semanurbilada/Traffic-Sign-Detection-and-Warning-system" target="_blank" class="title text-dark">Image Processing: Traffic Sign Detection & Warning System</a></h5>
                                <span class="title text-dark"><a href="https://github.com/semanurbilada/Traffic-Sign-Detection-and-Warning-system" target="_blank">Click to see source code of this Python project!</a></span>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 mt-4 pt-2 picture-item" data-groups='["research"]'>
                        <div class="item-box portfolio-box rounded shadow bg-white overflow-hidden p-4">
                            <div class="gallary-title py-2 text-center">
                                <h5><a href="https://www.linkedin.com/in/semanur-bilada/details/projects/" target="_blank" class="title text-dark">Development of Electronic and Power Distribution System for Unmanned Surface Vehicles</a></h5>
                                <span class="title text-dark"><a href="https://www.linkedin.com/in/semanur-bilada/details/projects/" target="_blank">TÜBİTAK BAP (Scientific Research Project)</a></span>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 mt-4 pt-2 picture-item" data-groups='["github"]'>
                        <div class="item-box portfolio-box rounded shadow bg-white overflow-hidden p-4">
                            <div class="gallary-title py-2 text-center">
                                <h5><a href="https://github.com/semanurbilada/portfolio_plus" target="_blank" class="title text-dark">Portfolio: Django CV Page Project</a></h5>
                                <span class="title text-dark"><a href="https://github.com/semanurbilada/portfolio_plus" target="_blank">Click to see source code of this website!</a></span>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 mt-4 pt-2 picture-item" data-groups='["education"]'>
                        <div class="item-box portfolio-box rounded shadow bg-white overflow-hidden p-4">
                            <div class="gallary-title py-2 text-center">
                                <h5><a href="javascript:void(0)" class="title text-dark">BSc of Information Systems Engineering at Piri Reis Univeristy</a></h5>
                                <span class="title text-dark">2021 · 2025<br>Activities and societies: Robot Club<br>- I passed out %100 English Preparatory Department with the exemption exam.<br>- Currently; I stand as Head of the Robot Club, after serving as Team Leader.</span>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 mt-4 pt-2 picture-item" data-groups='["github"]'>
                        <div class="item-box portfolio-box rounded shadow bg-white overflow-hidden p-4">
                            <div class="gallary-title py-2 text-center">
                                <h5><a href="https://github.com/PRU-Robotic/MissionPlanner-custom" target="_blank" class="title text-dark">PRU Robotics | Custom Mission Planner</a></h5>
                                <span class="title text-dark"><a href="https://github.com/PRU-Robotic/MissionPlanner-custom" target="_blank">Click to see source code of this interface project!</a></span>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 mt-4 pt-2 picture-item" data-groups='["research"]'>
                        <div class="item-box portfolio-box rounded shadow bg-white overflow-hidden p-4">
                            <div class="gallary-title py-2 text-center">
                                <h5><a href="https://www.linkedin.com/in/semanur-bilada/details/projects/" target="_blank" class="title text-dark">Development of Communication System for Unmanned Surface Vehicles</a></h5>
                                <span class="title text-dark"><a href="https://www.linkedin.com/in/semanur-bilada/details/projects/" target="_blank">TÜBİTAK BAP (Scientific Research Project)</a></span>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 mt-4 pt-2 picture-item" data-groups='["github"]'>
                        <div class="item-box portfolio-box rounded shadow bg-white overflow-hidden p-4">
                            <div class="gallary-title py-2 text-center">
                                <h5><a href="https://github.com/PRU-Robotic/jetson-rpi-image-processing" target="_blank" class="title text-dark">PRU Robotics | Embedded Image Processing</a></h5>
                                <span class="title text-dark"><a href="https://github.com/PRU-Robotic/jetson-rpi-image-processing" target="_blank">Click to see source code of this embedded project!</a></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Projects End -->

        <!-- Contact Start -->
        <section class="section py-10" id="contact">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 text-center">
                        <div class="section-title">
                            <div class="position-relative">
                                <h4 class="title text-uppercase mb-4">Contact Me</h4>
                                <div>
                                    <div class="title-box"></div>
                                    <div class="title-line"></div>
                                </div>
                            </div>
                            <p class="text-muted mx-auto para-desc mt-5 mb-0">{{ about_preview }}</p>
                        </div>
                    </div>
                </div>

                <div class="row justify-content-center">
                    <div class="col-md-5 mt-4 pt-2">
                        <div class="contact-detail text-center">
                            <div class="icon">
                                <i data-feather="phone" class="fea icon-md"></i>
                            </div>
                            <div class="content mt-4">
                                <h5 class="title text-uppercase">Phone</h5>
                                <p class="text-muted">Ready to embark on career opportunities & Seeking professional growth and development!</p>
                                <a href="tel:+90 000-000-00-00" class="text-primary">+90 532-435-98-00</a>
                            </div>  
                        </div>
                    </div>
                    
                    <div class="col-md-5 mt-4 pt-2">
                        <div class="contact-detail text-center">
                            <div class="icon">
                                <i data-feather="mail" class="fea icon-md"></i>
                            </div>
                            <div class="content mt-4">
                                <h5 class="title text-uppercase">Email</h5>
                                <p class="text-muted">Eager to explore new career pathways & Passionate about making a positive impact!</p>
                                <a href="mailto:contact@example.com" class="text-primary">semanurbilada@gmail.com</a>
                            </div>  
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Contact End -->

        <!-- Footer -->
        {% include 'includes/footer.html' %}
        
        <!-- Back to top -->
        <a href="#" onclick="topFunction()" class="back-to-top rounded text-center" id="back-to-top"> 
            <i class="mdi mdi-chevron-up d-block"></i> 
        </a>
        
        <!-- Scripts -->
        {% include 'includes/scripts.html' %}
    </body>
</html>