{% load static %}

<!DOCTYPE html>
    <html lang="en">
<head>
        <meta charset="utf-8">
        <title>SB | Portfolio</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Semanur Bilada Portfolio - Django CV Page">
        <meta name="keywords" content="portfolio, django, cv page">
        <meta content="Bootstraplily customized by Semanur Bilada" name="author">
        <!-- favicon -->
        <link rel="shortcut icon" href="{% get_media_prefix %}img/favicon.ico">
        <!-- Bootstrap -->
        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
        <!-- Lightbox -->
        <link href="{% static 'css/tobii.min.css' %}" rel="stylesheet" type="text/css">
        <!-- Icon -->
        <link href="{% static 'css/materialdesignicons.min.css' %}" rel="stylesheet" type="text/css">
        <!-- Custom Css -->
        <link href="{% static 'css/style.min.css' %}" rel="stylesheet" type="text/css" id="theme-opt">
        <link href="{% static 'css/colors/default.css' %}" rel="stylesheet" id="color-opt">
    </head>

    <body>
        <!-- Loader -->
        <div id="preloader">
            <div id="status">
                <div class="logo">
                    <img src="{% get_media_prefix %}img/logo.png" height="20" class="d-block mx-auto" alt="">
                </div>
                <div class="spinner">
                    <div class="bounce1"></div>
                    <div class="bounce2"></div>
                    <div class="bounce3"></div>
                </div>
            </div>
        </div>
        <!-- Loader -->
        
        <!-- Navbar Start -->
        <nav id="navbar" class="navbar navbar-expand-lg fixed-top navbar-custom navbar-light sticky">
    		<div class="container">
                <a class="navbar-brand" href="#">
                    <img src="{% get_media_prefix %}img/logo.png" class="l-dark" alt="">
                    <img src="{% get_media_prefix %}img/logo-light.png" class="l-light" alt="">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span data-feather="menu" class="fea icon-md"></span>
                </button><!--end button-->

                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul id="navbar-navlist" class="navbar-nav mx-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="#home">Home</a>
                        </li><!--end nav item-->
                        <li class="nav-item">
                            <a class="nav-link" href="#services">Services</a>
                        </li><!--end nav item-->
                        <li class="nav-item">
                            <a class="nav-link" href="#resume">Resume</a>
                        </li><!--end nav item-->
                        <li class="nav-item">
                            <a class="nav-link" href="#projects">Projects</a>
                        </li><!--end nav item-->
                        <li class="nav-item">
                            <a class="nav-link" href="#contact">Contact</a>
                        </li><!--end nav item-->
                     
                    </ul>

                    <ul class="list-unstyled mb-0 mt-2 mt-sm-0 social-icon light-social-icon">
                        <li class="list-inline-item"><a href="javascript:void(0)"><i class="mdi mdi-facebook"></i></a></li>
                        <li class="list-inline-item"><a href="javascript:void(0)"><i class="mdi mdi-twitter"></i></a></li>
                        <li class="list-inline-item"><a href="javascript:void(0)"><i class="mdi mdi-instagram"></i></a></li>
                    </ul>
                </div> 
            </div><!--end container-->
		</nav><!--end navbar-->
        <!-- Navbar End -->

        <!-- HOME START-->
        <section class="bg-home" style="background-image:url('{% get_media_prefix %}img/home/04.jpg')" id="home">
            <div class="bg-overlay"></div>
            <div class="container">
                <div class="row mt-5 mt-sm-0 justify-content-center">
                    <div class="col-lg-12 text-center">
                        <div class="title-heading">
                            <img src="{% get_media_prefix %}img/home/hero.jpg" class="img-fluid rounded-circle" alt="">
                            <h1 class="heading text-primary mt-3">Samual Murphy</h1>
                            <h6 class="sub-title text-light">I Am <span class="typewrite text-white" data-period="2000" data-type='[ "Web Designer", "Web Developer", "Photographer"]'></span></h6>
                            <div class="mt-4">
                                <a href="javascript:void(0)" class="btn btn-primary rounded">Download CV <i data-feather="download" class="fea icon-sm"></i></a>
                            </div>
                        </div>
                    </div><!--end col-->
                </div><!--end row-->
            </div><!--end container-->  
            <div class="container-fluid">
                <div class="row">
                    <div class="home-shape">
                        <img src="{% get_media_prefix %}img/shape.png" alt="" class="img-fluid mx-auto d-block">
                    </div>
                </div><!--end row-->
            </div><!--end container fluid-->
            <a href="#about" data-scroll-nav="1" class="mouse-icon mouse-icon-white rounded-pill bg-transparent mouse-down">
                <span class="wheel position-relative d-block mover"></span>
            </a>
        </section><!--end section-->
        <!-- HOME END-->
        
        <!-- About Start -->
        <section class="section pb-3" id="about">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-5 col-md-5">
                        <div class="about-hero">
                            <img src="{% get_media_prefix %}img/hero.jpg" class="img-fluid mx-auto d-block about-tween position-relative rounded-3" alt="">
                        </div>
                    </div><!--end col-->

                    <div class="col-lg-7 col-md-7 mt-4 pt-2 mt-sm-0 pt-sm-0">
                        <div class="section-title mb-0 ms-lg-5 ms-md-3">
                            <h4 class="title text-primary mb-3">Samual Murphy</h4>
                            <h6 class="designation mb-3">I'm a Passionate <span class="text-primary">Web Designer</span></h6>
                            <p class="text-muted">Obviously I'm a Web Designer. Web Developer with over 3 years of experience. Experienced with all stages of the development cycle for dynamic web projects. The as opposed to using 'Content here, content here', making it look like readable English.</p>
                            <p class="text-muted">The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>
                            <img src="{% get_media_prefix %}img/sign.png" height="22" alt="">
                            <div class="mt-4">
                                <a href="#projects" class="btn btn-primary mouse-down">View Portfolio</a>
                            </div>
                        </div>
                    </div><!--end col-->
                </div><!--end row-->
            </div><!--end container-->

        </section>
        <!-- About end -->
            
        <!-- Services Start -->
        <section class="section bg-light" id="services">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 text-center">
                        <div class="section-title">
                            <div class="position-relative">
                                <h4 class="title text-uppercase mb-4">What Do I Offer ?</h4>
                                <div>
                                    <div class="title-box"></div>
                                    <div class="title-line"></div>
                                </div>
                            </div>
                            <p class="text-muted mx-auto para-desc mt-5 mb-0">Obviously I'm a Web Designer. Experienced with all stages of the development cycle for dynamic web projects.</p>
                        </div>
                    </div><!--end col-->
                </div><!--end row-->

                <div class="row">                    
                    <div class="col-lg-4 col-md-6 col-12 mt-4 pt-2">
                        <div class="service-wrapper rounded position-relative text-center border border-footer p-4 pt-5 pb-5">
                            <div class="icon text-primary">
                                <i data-feather="airplay" class="fea icon-md"></i>
                            </div>
                            <div class="content mt-4">
                                <h5 class="title">UX / UI Design</h5>
                                <p class="text-muted mt-3 mb-0">It is a long established fact that a reader will be distracted by the when looking at its layout.</p>
                            </div>
                            <div class="big-icon">
                                <i data-feather="airplay" class="fea icons"></i>
                            </div>
                        </div>
                    </div><!--end col-->

                    <div class="col-lg-4 col-md-6 col-12 mt-4 pt-2">
                        <div class="service-wrapper rounded position-relative text-center border border-footer p-4 pt-5 pb-5">
                            <div class="icon text-primary">
                                <i data-feather="aperture" class="fea icon-md"></i>
                            </div>
                            <div class="content mt-4">
                                <h5 class="title">Ios App Designer</h5>
                                <p class="text-muted mt-3 mb-0">It is a long established fact that a reader will be distracted by the when looking at its layout.</p>
                            </div>
                            <div class="big-icon">
                                <i data-feather="aperture" class="fea icons"></i>
                            </div>
                        </div>
                    </div><!--end col-->
                    
                    <div class="col-lg-4 col-md-6 col-12 mt-4 pt-2">
                        <div class="service-wrapper rounded position-relative text-center border border-footer p-4 pt-5 pb-5">
                            <div class="icon text-primary">
                                <i data-feather="camera" class="fea icon-md"></i>
                            </div>
                            <div class="content mt-4">
                                <h5 class="title">Photography</h5>
                                <p class="text-muted mt-3 mb-0">It is a long established fact that a reader will be distracted by the when looking at its layout.</p>
                            </div>
                            <div class="big-icon">
                                <i data-feather="camera" class="fea icons"></i>
                            </div>
                        </div>
                    </div><!--end col-->
                    
                    <div class="col-lg-4 col-md-6 col-12 mt-4 pt-2">
                        <div class="service-wrapper rounded position-relative text-center border border-footer p-4 pt-5 pb-5">
                            <div class="icon text-primary">
                                <i data-feather="compass" class="fea icon-md"></i>
                            </div>
                            <div class="content mt-4">
                                <h5 class="title">Graphic Designer</h5>
                                <p class="text-muted mt-3 mb-0">It is a long established fact that a reader will be distracted by the when looking at its layout.</p>
                            </div>
                            <div class="big-icon">
                                <i data-feather="compass" class="fea icons"></i>
                            </div>
                        </div>
                    </div><!--end col-->
                    
                    <div class="col-lg-4 col-md-6 col-12 mt-4 pt-2">
                        <div class="service-wrapper rounded position-relative text-center border border-footer p-4 pt-5 pb-5">
                            <div class="icon text-primary">
                                <i data-feather="settings" class="fea icon-md"></i>
                            </div>
                            <div class="content mt-4">
                                <h5 class="title">Web Security</h5>
                                <p class="text-muted mt-3 mb-0">It is a long established fact that a reader will be distracted by the when looking at its layout.</p>
                            </div>
                            <div class="big-icon">
                                <i data-feather="settings" class="fea icons"></i>
                            </div>
                        </div>
                    </div><!--end col-->
                    
                    <div class="col-lg-4 col-md-6 col-12 mt-4 pt-2">
                        <div class="service-wrapper rounded position-relative text-center border border-footer p-4 pt-5 pb-5">
                            <div class="icon text-primary">
                                <i data-feather="watch" class="fea icon-md"></i>
                            </div>
                            <div class="content mt-4">
                                <h5 class="title">24 / 7</h5>
                                <p class="text-muted mt-3 mb-0">It is a long established fact that a reader will be distracted by the when looking at its layout.</p>
                            </div>
                            <div class="big-icon">
                                <i data-feather="watch" class="fea icons"></i>
                            </div>
                        </div>
                    </div><!--end col-->
                </div><!--end row-->
            </div><!--end container-->
        </section>
        <!-- Services End -->

        <!-- Resume Start -->
        <section class="section" id="resume">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 text-center">
                        <div class="section-title">
                            <div class="position-relative">
                                <h4 class="title text-uppercase mb-4">Work Participation</h4>
                                <div>
                                    <div class="title-box"></div>
                                    <div class="title-line"></div>
                                </div>
                            </div>
                            <p class="text-muted mx-auto para-desc mt-5 mb-0">Obviously I'm a Web Designer. Experienced with all stages of the development cycle for dynamic web projects.</p>
                        </div>
                    </div><!--end col-->
                </div><!--end row-->

                <div class="row">
                    <div class="col-12">
                        <div class="main-icon rounded-pill text-center mt-4 pt-2">
                            <i data-feather="star" class="fea icon-md-sm"></i>
                        </div>
                        <div class="timeline-page pt-2 position-relative">
                            <div class="timeline-item mt-4">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-6">
                                        <div class="duration date-label-left border rounded p-2 ps-4 pe-4 position-relative shadow text-start">2015 - 2018</div>
                                    </div><!--end col-->
                                    <div class="col-lg-6 col-md-6 col-sm-6">
                                        <div class="event event-description-right rounded p-4 border float-left text-start">
                                            <h5 class="title mb-0 text-capitalize">UX Designer</h5>
                                            <small class="company">Vivo - Senior Designer</small>
                                            <p class="timeline-subtitle mt-3 mb-0 text-muted">The generated injected humour, or non-characteristic words etc. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis,</p>
                                        </div>
                                    </div><!--end col-->
                                </div><!--end row-->
                            </div><!--end timeline item-->
            
                            <div class="timeline-item mt-4">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-6 order-sm-1 order-2">
                                        <div class="event event-description-left rounded p-4 border float-left text-end">
                                            <h5 class="title mb-0 text-capitalize">Web Developer</h5>
                                            <small class="company">Oppo - HR Manager</small>
                                            <p class="timeline-subtitle mt-3 mb-0 text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras lacinia magna vel molestie faucibus. Donec auctor et urnaLorem ipsum dolor sit amet.</p>
                                        </div>
                                    </div><!--end col-->
                                    <div class="col-lg-6 col-md-6 col-sm-6 order-sm-2 order-1">
                                        <div class="duration duration-right rounded border p-2 ps-4 pe-4 position-relative shadow text-start">2012 - 2015</div>
                                    </div><!--end col-->
                                </div><!--end row-->
                            </div><!--end timeline item-->
        
                            <div class="timeline-item mt-4">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-6">
                                        <div class="duration date-label-left border rounded p-2 ps-4 pe-4 position-relative shadow text-start"> 2012 - 2010</div>
                                    </div><!--end col-->
                                    <div class="col-lg-6 col-md-6 col-sm-6">
                                        <div class="event event-description-right rounded p-4 border float-left text-start">
                                            <h5 class="title mb-0 text-capitalize">Graphic Designer</h5>
                                            <small class="company">Apple - Testor</small>
                                            <p class="timeline-subtitle mt-3 mb-0 text-muted">Therefore always free from repetition, injected humour, or non-characteristic words etc. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, </p>
                                        </div>
                                    </div><!--end col-->
                                </div><!--end row-->
                            </div><!--end timeline item-->
                        </div><!--end timeline page-->
                        <!-- TIMELINE END -->
                    </div><!--end col-->
                </div><!--end row-->
            </div><!--end container-->
        </section><!--end section-->   
        <!-- Skill End -->

        <!-- Projects End -->
        <section class="section bg-light" id="projects">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 text-center">
                        <div class="section-title">
                            <div class="position-relative">
                                <h4 class="title text-uppercase mb-4">My Portfolio</h4>
                                <div>
                                    <div class="title-box"></div>
                                    <div class="title-line"></div>
                                </div>
                            </div>
                            <p class="text-muted mx-auto para-desc mt-5 mb-0">Obviously I'm a Web Designer. Experienced with all stages of the development cycle for dynamic web projects.</p>
                        </div>
                    </div><!--end col-->
                </div><!--end row-->
            </div>    
            
            <div class="container">
                <div class="row mt-4 justify-content-center">
                    <div class="col-12 filters-group-wrap">
                        <div class="filters-group">
                            <ul class="portfolioFilter list-inline mb-0 filter-options text-center">
                                <li class="list-inline-item categories-name border text-dark px-3 rounded active" data-group="all">All</li>
                                <li class="list-inline-item categories-name border text-dark px-3 rounded" data-group="branding">Branding</li>
                                <li class="list-inline-item categories-name border text-dark px-3 rounded" data-group="designing">Designing</li>
                                <li class="list-inline-item categories-name border text-dark px-3 rounded" data-group="photography">Photography</li>
                                <li class="list-inline-item categories-name border text-dark px-3 rounded" data-group="development">Development</li>
                            </ul>
                        </div>
                    </div><!--end col-->
                </div><!--end row-->
                <!-- Gallary -->
                <!-- Gallary -->
                <div id="grid" class="row">
                    <div class="col-lg-4 col-md-6 mt-4 pt-2 picture-item" data-groups='["branding", "designing"]'>
                        <div class="item-box portfolio-box rounded shadow bg-white overflow-hidden">
                            <div class="portfolio-box-img position-relative overflow-hidden">
                                <img class="item-container img-fluid mx-auto" src="{% get_media_prefix %}img/portfolio/1.jpg" alt="1">
                                <div class="overlay-work">
                                    <div class="work-content text-center">
                                        <a href="{% get_media_prefix %}img/portfolio/1.jpg" class="lightbox text-light work-icon bg-dark d-inline-block rounded-pill "><i data-feather="camera" class="fea icon-sm image-icon"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="gallary-title py-4 text-center">
                                <h5><a href="page-portfolio-detail.html" class="title text-dark">Working Keyboard</a></h5>
                                <span>Branding</span>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-lg-4 col-md-6 mt-4 pt-2 picture-item" data-groups='["branding", "development"]'>
                        <div class="item-box portfolio-box rounded shadow bg-white overflow-hidden">
                            <div class="portfolio-box-img position-relative overflow-hidden">
                                <img class="item-container img-fluid mx-auto" src="{% get_media_prefix %}img/portfolio/2.jpg" alt="1">
                                <div class="overlay-work">
                                    <div class="work-content text-center">
                                        <a href="{% get_media_prefix %}img/portfolio/2.jpg" class="lightbox text-light work-icon bg-dark d-inline-block rounded-pill "><i data-feather="camera" class="fea icon-sm image-icon"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="gallary-title py-4 text-center">
                                <h5><a href="page-portfolio-detail.html" class="title text-dark">The Micro Headphones</a></h5>
                                <span>Development</span>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-lg-4 col-md-6 mt-4 pt-2 picture-item" data-groups='["designing", "development"]'>
                        <div class="item-box portfolio-box rounded shadow bg-white overflow-hidden">
                            <div class="portfolio-box-img position-relative overflow-hidden">
                                <img class="item-container img-fluid mx-auto" src="{% get_media_prefix %}img/portfolio/3.jpg" alt="1">
                                <div class="overlay-work">
                                    <div class="work-content text-center">
                                        <a href="{% get_media_prefix %}img/portfolio/3.jpg" class="lightbox text-light work-icon bg-dark d-inline-block rounded-pill "><i data-feather="camera" class="fea icon-sm image-icon"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="gallary-title py-4 text-center">
                                <h5><a href="page-portfolio-detail.html" class="title text-dark">The Coffee Cup</a></h5>
                                <span>Designing</span>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-lg-4 col-md-6 mt-4 pt-2 picture-item" data-groups='["photography"]'>
                        <div class="item-box portfolio-box rounded shadow bg-white overflow-hidden">
                            <div class="portfolio-box-img position-relative overflow-hidden">
                                <img class="item-container img-fluid mx-auto" src="{% get_media_prefix %}img/portfolio/4.jpg" alt="1">
                                <div class="overlay-work">
                                    <div class="work-content text-center">
                                        <a href="{% get_media_prefix %}img/portfolio/4.jpg" class="lightbox text-light work-icon bg-dark d-inline-block rounded-pill "><i data-feather="camera" class="fea icon-sm image-icon"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="gallary-title py-4 text-center">
                                <h5><a href="page-portfolio-detail.html" class="title text-dark">The Wooden Desk</a></h5>
                                <span>Photography</span>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-lg-4 col-md-6 mt-4 pt-2 picture-item" data-groups='["photography"]'>
                        <div class="item-box portfolio-box rounded shadow bg-white overflow-hidden">
                            <div class="portfolio-box-img position-relative overflow-hidden">
                                <img class="item-container img-fluid mx-auto" src="{% get_media_prefix %}img/portfolio/5.jpg" alt="1">
                                <div class="overlay-work">
                                    <div class="work-content text-center">
                                        <a href="{% get_media_prefix %}img/portfolio/5.jpg" class="lightbox text-light work-icon bg-dark d-inline-block rounded-pill "><i data-feather="camera" class="fea icon-sm image-icon"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="gallary-title py-4 text-center">
                                <h5><a href="page-portfolio-detail.html" class="title text-dark">Camera</a></h5>
                                <span>Illustrations</span>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-lg-4 col-md-6 mt-4 pt-2 picture-item" data-groups='["photography"]'>
                        <div class="item-box portfolio-box rounded shadow bg-white overflow-hidden">
                            <div class="portfolio-box-img position-relative overflow-hidden">
                                <img class="item-container img-fluid mx-auto" src="{% get_media_prefix %}img/portfolio/6.jpg" alt="1">
                                <div class="overlay-work">
                                    <div class="work-content text-center">
                                        <a href="{% get_media_prefix %}img/portfolio/6.jpg" class="lightbox text-light work-icon bg-dark d-inline-block rounded-pill "><i data-feather="camera" class="fea icon-sm image-icon"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="gallary-title py-4 text-center">
                                <h5><a href="page-portfolio-detail.html" class="title text-dark">Branded Laptop</a></h5>
                                <span>Photoshop</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--end container-->
        </section><!--end section-->
        <!-- Projects End -->

        <!-- Contact Start -->
        <section class="section pb-0" id="contact">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 text-center">
                        <div class="section-title">
                            <div class="position-relative">
                                <h4 class="title text-uppercase mb-4">Contact Me</h4>
                                <div>
                                    <div class="title-box"></div>
                                    <div class="title-line"></div>
                                </div>
                            </div>
                            <p class="text-muted mx-auto para-desc mt-5 mb-0">Obviously I'm a Web Designer. Experienced with all stages of the development cycle for dynamic web projects.</p>
                        </div>
                    </div><!--end col-->
                </div><!--end row-->

                <div class="row">
                    <div class="col-md-4 mt-4 pt-2">
                        <div class="contact-detail text-center">
                            <div class="icon">
                                <i data-feather="phone" class="fea icon-md"></i>
                            </div>
                            <div class="content mt-4">
                                <h5 class="title text-uppercase">Phone</h5>
                                <p class="text-muted">Promising development turmoil inclusive education transformative community</p>
                                <a href="tel:+152534-468-854" class="text-primary">+152 534-468-854</a>
                            </div>  
                        </div>
                    </div><!--end col-->
                    
                    <div class="col-md-4 mt-4 pt-2">
                        <div class="contact-detail text-center">
                            <div class="icon">
                                <i data-feather="mail" class="fea icon-md"></i>
                            </div>
                            <div class="content mt-4">
                                <h5 class="title text-uppercase">Email</h5>
                                <p class="text-muted">Promising development turmoil inclusive education transformative community</p>
                                <a href="mailto:contact@example.com" class="text-primary">contact@example.com</a>
                            </div>  
                        </div>
                    </div><!--end col-->
                    
                    <div class="col-md-4 mt-4 pt-2">
                        <div class="contact-detail text-center">
                            <div class="icon">
                                <i data-feather="map-pin" class="fea icon-md"></i>
                            </div>
                            <div class="content mt-4">
                                <h5 class="title text-uppercase">Location</h5>
                                <p class="text-muted">C/54 Northwest Freeway, Suite 558, <br>Houston, USA 485</p>
                                <a href="" class="video-play-icon text-primary">View on Google map</a>
                            </div>  
                        </div>
                    </div><!--end col-->
                </div><!--end row-->
            </div><!--end container-->
        </section><!--end section-->

        <section class="section pt-5 mt-3">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-12">
                        <div class="custom-form mb-sm-30">
                            <form method="post" name="myForm" onsubmit="return validateForm()">
                                <p id="error-msg"></p>
                                <div id="simple-msg"></div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="row">
                                            <div class="col-lg-12 col-md-6">
                                                <div class="form-group">
                                                    <input name="name" id="name" type="text" class="form-control border rounded" placeholder="First Name :">
                                                </div>
                                            </div><!--end col-->
                                            <div class="col-lg-12 col-md-6">
                                                <div class="form-group">
                                                    <input name="email" id="email" type="email" class="form-control border rounded" placeholder="Your email :">
                                                </div> 
                                            </div><!--end col-->
                                            <div class="col-lg-12">
                                                <div class="form-group">
                                                    <input name="subject" id="subject" class="form-control border rounded" placeholder="Your subject :">
                                                </div>                                                                               
                                            </div><!--end col-->
                                        </div><!--end row-->
                                    </div><!--end col-->

                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <textarea name="comments" id="comments" rows="4" class="form-control border rounded" placeholder="Your Message :"></textarea>
                                        </div>
                                    </div><!--end col-->

                                    <div class="col-sm-12 text-end">
                                        <button type="submit" id="submit" name="send" class="btn btn-primary">Send Message</button>
                                    </div>
                                </div>
                            </form>
                        </div><!--end custom-form-->
                    </div><!--end col-->
                </div><!--end row-->
            </div><!--end container-->
        </section><!--end section-->
        <!-- Contact End -->

        <!-- Footer Start -->
        <footer class="footer bg-dark">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 text-center">
                        <a href="#"><img src="{% get_media_prefix %}img/logo-light.png" alt=""></a>
                        <p class="para-desc mx-auto mt-5">Obviously I'm a Web Designer. Experienced with all stages of the development cycle for dynamic web projects.</p>
                        <ul class="list-unstyled mb-0 mt-4 social-icon">
                            <li class="list-inline-item"><a href="javascript:void(0)"><i class="mdi mdi-facebook"></i></a></li>
                            <li class="list-inline-item"><a href="javascript:void(0)"><i class="mdi mdi-twitter"></i></a></li>
                            <li class="list-inline-item"><a href="javascript:void(0)"><i class="mdi mdi-instagram"></i></a></li>
                            <li class="list-inline-item"><a href="javascript:void(0)"><i class="mdi mdi-vimeo"></i></a></li>
                            <li class="list-inline-item"><a href="javascript:void(0)"><i class="mdi mdi-google-plus"></i></a></li>
                            <li class="list-inline-item"><a href="javascript:void(0)"><i class="mdi mdi-linkedin"></i></a></li>
                        </ul>
                    </div><!--end col-->
                </div><!--end row-->
            </div><!--end container-->
        </footer><!--end footer-->
        <footer class="footer footer-bar bg-dark">
            <div class="container text-foot text-center">
                <p class="mb-0">© <script>document.write(new Date().getFullYear())</script> Samual. Design with <i class="mdi mdi-heart text-danger"></i> by <a href="https://Bootstraplily.com/" target="_blank" class="text-reset">Bootstraplily</a>.</p>
            </div><!--end container-->
        </footer><!--end footer-->
        <!-- Footer End -->
        
        <!-- Back to top -->
        <a href="#" onclick="topFunction()" class="back-to-top rounded text-center" id="back-to-top"> 
            <i class="mdi mdi-chevron-up d-block"> </i> 
        </a>
        <!-- Back to top -->
        

        <!-- javascript -->
        <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
        <!-- Gumshoe -->
        <script src="{% static 'js/gumshoe.js' %}"></script>
        <!-- Lightbox -->
        <script src="{% static 'js/tobii.min.js' %}"></script>
        <script src="{% static 'js/shuffle.min.js' %}"></script>
        <!-- Feather icon -->
        <script src="{% static 'js/feather.min.js' %}"></script>
        <!-- Typed -->
        <script src="{% static 'js/typed.js' %}"></script>
        <!-- Main Js -->
        <script src="{% static 'js/plugins.init.js' %}"></script>
        <script src="{% static 'js/app.js' %}"></script>
    </body>
</html>